## Print in Python

- used to output to screen for the user to see

In [4]:
# Syntax: print('what to print')

print(5)

5

In [5]:
print('Sally')

Sally

In [6]:
print('5')

5

In [7]:
print(type(5))

<class 'int'>

In [8]:
print(type('5'))

<class 'str'>

In [9]:
print('g5')

g5

## Numbers in Python

- Integers (int): whole numbers both positive and negative
- Float (float): numbers with decimal values
- double (double): floating point number only it takes more decimal values (very large floating point numbers)

In [10]:
# 5, 
# 7, 
# 1,000,000, 
# 500,0000, 
# 0

# -12
# -5763

In [12]:
type(1000000000)

int

In [16]:
type(-56782)

int

In [14]:
type(109.87654)

float

In [17]:
type(-1187.42322)

float

In [15]:
type(12345.12345678987654323456789098765432345678987654)

float

# Number operations and Manipulations in python

In [31]:
# (BODMAS), Logical operators (>, <, >=, <=, !=)


(6-5) * 7/2 != 6-5*7/2

True

In [37]:

round(5 - 4.2398, 2)

0.76

In [ ]:
# floor
# ceil
# truncate

## Strings

In [ ]:
# "df" 

# 'df'

"5000p-2.,"

In [ ]:
"555" + "667" # concatenation

'555667'

In [41]:
"rew" + " " + "ghy90"

'rew ghy90'

In [42]:
"rew" * 3

'rewrewrew'

In [43]:
"rew".capitalize()

'Rew'

In [44]:
"rew".upper()

'REW'

In [45]:
"rew".join(["A", "g", "po", "ret", "onnb"])

'Arewgrewporewretrewonnb'

In [46]:
'Arewgrewporewretrewonnb'.split("rew")

['A', 'g', 'po', 'ret', 'onnb']

In [50]:
"rew".endswith("ew", -2)

True

In [53]:
"rew".index('r')

0

In [ ]:
# indexing

"rew"[-2]

'e'

In [61]:
# Slicing strings
"Sally Peter"[-5:]

'Peter'

In [62]:
"Sally Peter"[6:]

'Peter'

In [63]:
"Sally Peter"[:6]

'Sally '

In [66]:
"Sally Peter"[3:8]

'ly Pe'

In [59]:
"Sally Peter".index("p")

ValueError: substring not found

# Variables
Basically a memory space

- Naming Variables
    - Cannot start with a space or a number or a special character except the underscore (_)
    - Cannot contain spaces or special characters except the underscore (_)
    - The name has to convey some meaning
    - Python Keywords are prohibited


'==' equality sign used to test for equality

'=' assignment sign used to assign values to a variable

In [67]:
name = "Sally"
age = 12

In [70]:
name.index('a')

1

In [74]:
2.33 == 7/3

False

In [73]:
7/3

2.3333333333333335

In [75]:
import math

In [78]:
3.142 == round(math.pi,3)

True

In [77]:
math.pi

3.141592653589793

In [81]:
name == 'sally'.capitalize()

True

# Getting User Input

In [8]:
user_input = input()

In [7]:
user_input

'kj76'

In [10]:
name = input("What is your name? ")
name

'Sally'

In [11]:
name

'Sally'

In [20]:
eval(input())

45.9

In [18]:
int(input("Enter a number: "))

345

In [19]:
float(input())

6.0

# Expressions
variable_name = something (Value)

variable_name = operation e.g x = 1 + 1; x = x + 1

In [5]:
name = 'Sally Peter'
age = 19

In [6]:
sentence = "My name is Sally and I am 19 years old."
sentence

'My name is Sally and I am 19 years old.'

In [7]:
sentence1 = "My name is {} and I am {} years old.".format(name, age)
sentence1

'My name is Sally Peter and I am 19 years old.'

In [8]:
f"My name is {name} and I am {age} years old."

'My name is Sally Peter and I am 19 years old.'

In [9]:
print("My name is {} and I am {} years old.".format(name, age))

My name is Sally Peter and I am 19 years old.

In [10]:
user_name = input("Enter your name: ")
print(f"Hello {user_name}! How are you?")

Hello David! How are you?

# Conditional Statements
- Logical operators

- **if this do that**


if(condition):


- **if else**

if (condition):

 -- do something

else:

 -- do this one


- **if else if**

if (condition):

 -- do this

elif (condition 2):

 -- do this one

...

else:

 -- default to this

In [14]:
len("Sally") == 5

True

In [23]:
my_name = "John"
your_guess  = input("Guess my name: ")

if my_name == your_guess:
    print("Awesome! You guessed correct.")

Awesome! You guessed correct.

In [22]:
if name == input("Guess my name: "):
    print("Awesome! You guessed correct.")

Awesome! You guessed correct.

In [24]:
if my_name == input("Guess my name: "):
    print("Awesome! You guessed correct.")
else:
    print("oh ohh... you are not correct!")

oh ohh... you are not correct!

In [25]:
num = eval(input("Enter a number: "))

if num%2 == 0:
    print(f"{num} is even")
elif num%2 == 1:
    print("{} is odd".format(num))
else:
    print("{} is not a number!!!".format(num))

2345 is odd

In [26]:
num = eval(input("Enter a number: "))

if num <= 0:
    print(f"{num} is negative")
elif num >= 0 and num <= 1000:
    print("{} is a small positive number".format(num))
else:
    print("{} is a large positive number".format(num))

5678 is a large positive number

70 and above -- A

69 - 60 -- B

59 - 50 -- C

49 - 40 -- D

39 - 30 -- E

29 - 0 --  F

In [40]:
grade = float(input("Enter your grade: "))

if grade >= 70:
    print("You have an A!")
elif grade <= 69 and grade >= 60:
    print("You have a B!")
elif grade <= 59 and grade >= 50:
    print("You have a C!")
elif grade <= 49 and grade >= 40:
    print("You have a D!")
elif grade <= 39 and grade >= 30:
    print("You have a E!")
else:
    print("You have an F")

You have an F

In [ ]:
year_ = input("Enter a year: ")

if year_%4 == 0:
    print("{} is a leap year".format(year_))
elif year_%100 == 0 and year_ % 400 == 0:
    print("{} is a leap year".format(year_))
else:
    print(f"{year_} is not a leap year!")

In [ ]:
year_ = input("Enter a year: ")

if year_%4 == 0 or (year_%100 == 0 and year_ % 400 == 0):
    print("{} is a leap year".format(year_))
else:
    print(f"{year_} is not a leap year!")

# Password Checker

- alpha
- num
- special characters
- uppercase
- at least 8

Password is weak if
- less than 8 characters

password is strong if
- 8 or more characters
- and has numbers

password is very strong if
- 8 or more characters
- has numbers
- has an uppercase character
- a special character

In [44]:
password = input("Enter your password: ")

if len(password) < 8:
    print(f"{password} is a weak password")
elif len(password)>8 and password.isalnum():
    print(f"{password} is a strong password")
else:
    print(f"{password} is a very strong password")

salvation.1234-234 is a very strong password

# Data Structures
 N/B: That all the given data structures below are iterables... same as strings

- List: 
    
    defined using the square bracket [] or list()

    add to it, delete from it
    index using the positions
    values of different data types

- Tuples:

    defined with the round brackets () or tuple()

    immutable -- values cannot be changed

- Sets:
    
    defined using the curly bracets {} or set()

    only stores unique values, no duplicates

    completely unordered

- Dictionaries:

    defined using {key : value} or dict()
    
    key-value pair

In [27]:
my_list = [123, 456, 789, 'numbers']
my_list

[123, 456, 789, 'numbers']

In [28]:
len(my_list)

4

In [33]:
my_list[0]

123

In [34]:
my_list.append(700)
my_list

[123, 456, 789, 'numbers', 700]

In [36]:
my_list.insert(1, "new")

In [37]:
my_list

[123, 'new', 456, 789, 'numbers', 700]

In [38]:
my_list.remove('numbers')
my_list

[123, 'new', 456, 789, 700]

In [39]:
my_tuple = (1, 2, 34, 56, 78, 91)
my_tuple

(1, 2, 34, 56, 78, 91)

In [42]:
my_tuple.__add__((2, 4, 6))
my_tuple

(1, 2, 34, 56, 78, 91)

In [43]:
my_tuple.__add__((2, 4, 6))

(1, 2, 34, 56, 78, 91, 2, 4, 6)

In [48]:
tuple((1, 2, 3, 4, 'r'))

(1, 2, 3, 4, 'r')

In [50]:
my_tuple

(1, 2, 34, 56, 78, 91)

In [51]:
my_tuple[4]

78

In [52]:
my_list[:3]

[123, 'new', 456]

In [53]:
my_tuple[1:5]

(2, 34, 56, 78)

In [54]:
my_tuple[:]

(1, 2, 34, 56, 78, 91)

In [56]:
set((123, 'new', 456, 789, 'numbers', 700))

{123, 456, 700, 789, 'new', 'numbers'}

In [58]:
my_set = set((1, 2, 34, 56, 78, 91, 2, 4, 6))
my_set

{1, 2, 4, 6, 34, 56, 78, 91}

In [63]:
my_set

{1, 2, 4, 6, 34, 56, 78, 91}

In [65]:
my_dict = {'name':'Favour', 'age':27}
my_dict

{'name': 'Favour', 'age': 27}

In [66]:
my_dict2 = {'name':['Favour', 'Sally', 'Val', 'Bea'], 'age':[27, 23, 45, 67]}
my_dict2

{'name': ['Favour', 'Sally', 'Val', 'Bea'], 'age': [27, 23, 45, 67]}

In [67]:
my_dict3 = {'name':('Favour', 'Sally', 'Val', 'Bea'), 'age':(27, 23, 45, 67)}
my_dict3

{'name': ('Favour', 'Sally', 'Val', 'Bea'), 'age': (27, 23, 45, 67)}

In [69]:
my_dict['name']

'Favour'

In [74]:
my_dict2['name'][-1]

'Bea'

In [84]:
my_dict2['class'] = ['magentakale', 'marigold', 'hibiscus', 'rose']

my_dict2

{'name': ['Favour', 'Sally', 'Val', 'Bea'],
 'age': [27, 23, 45, 67],
 'class': ['magentakale', 'marigold', 'hibiscus', 'rose']}

## Loops

## Loops
- For Loop

    for i < 3:
        
        print ("i is less than 3")

- While Loop

In [ ]:
print(1)
print(2)
print(3)

1
2
3

In [85]:

for i in range(10):
    print(i, " i is less than 10")
    i+=1

0  i is less than 10
1  i is less than 10
2  i is less than 10
3  i is less than 10
4  i is less than 10
5  i is less than 10
6  i is less than 10
7  i is less than 10
8  i is less than 10
9  i is less than 10

In [86]:
for each in "Favour":
    print(each, " -- Favour".upper())

F  -- FAVOUR
a  -- FAVOUR
v  -- FAVOUR
o  -- FAVOUR
u  -- FAVOUR
r  -- FAVOUR

In [89]:
for each in my_set:
    print(each, " is in my list")

1  is in my list
2  is in my list
34  is in my list
4  is in my list
6  is in my list
78  is in my list
56  is in my list
91  is in my list

In [92]:
# for i range(start, stop, increment)

for i in range(1, 9, 2):
    print("i is now ", i)

i is now  1
i is now  3
i is now  5
i is now  7

### Iterables in Python include: Lists, tuples, dictionaries, sets, strings

In [ ]:
i = 0
while i <=10: 
    print(i, "i is less than 10")
    i = i+1

0 i is less than 10
1 i is less than 10
2 i is less than 10
3 i is less than 10
4 i is less than 10
5 i is less than 10
6 i is less than 10
7 i is less than 10
8 i is less than 10
9 i is less than 10
10 i is less than 10

In [ ]:
i = 1

while i <= 9:
    print("i is now ", i)
    i += 2

i is now  1
i is now  3
i is now  5
i is now  7

### Count the total number of digits in a number. e.g 12345 has 5 digits

In [ ]:

### Count the total number of digits in a number. e.g 12345 has 5 digits

# user_input = input("enter a number you want to count the digits: ")
user_input = "98765434567"
count = 0
for digit in user_input:
    count+=1
print(count)

11

In [ ]:
count = 0
while True:
    count +=1
    if count >= len(user_input):
        break
print(count)

11

Display the pattern below:

7 6 5 4 3 2 1

6 5 4 3 2 1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
number = eval(input("enter a number to start the pattern: "))
k = number
for i in range(0, number+1):
    for j in range(k-i, 0, -1):
        print(j, end=' ')
    print()

8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1